@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./assets/fonts/NotoKufiArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
